{% if depth == 0  %}
    {% block root_head %}
        <div class="{{ cssClasses }}" id="{{ cssId }}">
            <span>{{ title }}</span>
    {% endblock %}
{% else %}
    {% block node_head %}
    <div class="{{ cssClasses }} card" id="{{ cssId }}">
        <div class="card-header" id="{{ cssId }}_header">
            {% block card-header %}
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#{{ cssId }}_body" aria-expanded="false" aria-controls="{{ cssId }}_body">
                    {{ title }}
                </button>
            </h2>
            {% endblock %}
        </div>

        <div id="{{ cssId }}_body" class="collapse" aria-labelledby="{{ cssId }}_header" data-parent="#{{ parentNode.alias }}_childs">
            <div class="card-body">
    {% endblock %}
{% endif %}

{% block description %}
    {% if description is defined and description is not empty %}
        <p>{{ description }}</p>
    {% endif %}
{% endblock %}
{% if childs|length > 0 %}
    <div class="accordion" id="{{ alias }}_childs">
        {% for child in childs %}
            {% block child %}
                {{ child|raw }}
            {% endblock %}
        {% endfor %}
    </div>
{% endif %}

{% if depth == 0  %}
    {% block root_footer %}
        </div>
    {% endblock %}
{% else %}
    {% block node_footer %}
            </div>
        </div>
    </div>
    {% endblock %}
{% endif %}