<div class="{{ type }} depth_{{ depth }}">
    {% block title %}
    <span>{{ title }}</span>
    {% endblock %}
    {% block description %}
    <p>{{ description }}</p>
    {% endblock %}
    {% if childs|length > 0 %}
        <ul>
        {% for child in childs %}
            {% block child %}
            <li>{{ child|raw }}</li>
            {% endblock %}
        {% endfor %}
        </ul>
    {% endif %}
</div>
