<div class="{{ cssClasses }}" id="{{ cssId }}">
    {% block title %}
    <span>{{ title }}</span>
    {% endblock %}
    {% block description %}
        {% if description is defined and description is not empty %}
            <p>{{ description }}</p>
        {% endif %}
    {% endblock %}
    {% if childs|length > 0 %}
        <ul>
        {% for child in childs %}
            {% block child %}
            <li>{{ child|raw }}</li>
            {% endblock %}
        {% endfor %}
        </ul>
    {% endif %}
</div>
